body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #ffffff;

  min-width: 1280px;
  min-height:2760px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  justify-content: flex-start;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  justify-content: flex-end;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  display: block;
  position: absolute;
}

.background {
  /*width: 100%;*/
  display: block;
  position: relative;
  top: ;
}

/*.background-polygon {
  display: block;
  position: relative;
  top: -80px;
  background-color: transparent;
}*/

.welcome-information {
  text-align: center;
}

/*.inner-page {
  background-image: url("../img/background-inner.png");
}*/

.background-inner {
  display: block;
  position: relative;
  margin-bottom: 88px;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  vertical-align: middle;

  color: #000000;
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.advantages-list,
.advices-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.more-advantages {
  order: 2;
}

.advantage-text-image {
  display: flex;
  flex-wrap: wrap;
}

.advantages {
  text-align: center;
}

.advantage-image {
  width: 800px;
  height: 255px;
}

.advantages h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.advantages-text {
  font-size: 14px;
  line-height: 26px;
}

.advantages-item h3,
.advices-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantages-list > li:nth-child(1),
.advantages-list > li:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  background-color: #81b3d2;
  color: #ffffff;
}

.advantage-text-only {
  width: 400px;
}

.advantages-list > li:nth-child(3),
.advantages-list > li:nth-child(4),
.advantages-list > li:nth-child(5) {
  width: 400px;
  background-color: #eeeeee;
  /*padding-left: 70px;
  padding-right: 70px;*/
  /*justify-content: space-between;*/
}

.advices-list li {
  width: 400px;
}

.advantages-item h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 125px;
  margin-right: 125px;
}

/*.advantage-number {
  margin-bottom: 25px;
}*/

.advantage-text {
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 62px;
}

.advices-list {
  background-color: #ffffff;
}

.button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;

  border: none;
}

.button-search-hotels,
.button-book {
  background-color: #766357;
}

.button-search-hotels:hover,
.button-search-hotels:focus,
.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-search-hotels:active,
.button-book:active {
  background-color: #503e33;
}


.button-search,
.button-more-inform {
  background-color: #81b3d2;
}

.button-search:hover,
.button-search:focus,
.button-more-inform:hover,
.button-more-inform:focus {
  background-color: #669ec0;
}

.button-search:active,
.button-more-inform:active {
  background-color: #5496bd;
}

.button-search-hotels {
  display: inline-block;
  padding: 30px 140px;
}

.map img {
  width: 1200px;
  height: 473px;
}

.interest {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.interest-text {
  font-size: 14px;
  line-height: 24px;
}

.book-hotels {
  text-align: center;
}

.main-footer {
  display: flex;
}

.footer-column {
  width: 400px;
}

a .instagram {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  width: 400px;
  margin: 0 auto;
  /*text-align: center;*/
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  text-align: center;
}

.creator-logo svg {
  width: 115px;
  height: 41px;
}

.creator-logo:hover .html-logo,
.creator-logo:focus .html-logo {
  fill: #84b5d3;
}

.creator-logo:active .html-logo {
  fill: #c1bfc0;
}

.search-results li {
  display: flex;
  justify-content: space-between;
}

.inner-column-1 {
  display: flex;
  width: 600px;
  margin-left: 73px;
}

.inner-column-1 img {
  order: 0;
  width: 135px;
  height: 90px;
}

.search-results {
  list-style: none;
}

.hotel {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.hotel:hover,
.hotel:focus {
  color: #81b3d2
}

.hotel:active {
  color: #cacaca;
}

.mark {
  color: #666666;
  background-color: #f2f2f2;
}

.button-more-inform,
.button-book {
  padding: 3px 17px;
}

.appointment-form {
  display: none;
}
