body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-image: url("../img/main-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.container {
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow:  -4px 0 4px 0 rgba(0, 0, 0, 0.1),
                4px 0 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow:  -4px 0 4px 0 rgba(0, 0, 0, 0.1),
                4px 0 4px 0 rgba(0, 0, 0, 0.1);
}

.inner-page {
  background-image: url("../img/background-inner.png");
  position: top center;
  repeat: no-repeat;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
  position: relative;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 73px;
  margin-right: 73px;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.site-navigation li {
  width: 240px;
}

.site-navigation a,
.current {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  vertical-align: middle;
  color: #000000;
  font-weight: 700;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  margin-right: 96px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.current {
  color: #766357;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 1;
}

.welcome-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -1px;
}

.welcome {
  width: 460px;
  height: 353px;
  margin-top: 77px;
  margin-bottom: 22px;
}

.advantages {
  background-color: #ffffff;
  padding-top: 60px;
  text-align: center;
}

.advantages h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 380px;
}

.advantages-text {
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 50px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-text-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #81b3d2;
  color: #ffffff;
}

.advantage-text-image .bridge {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.advantage-text-only {
  width: 400px;
}

.advantage-image {
  width: 800px;
  height: 255px;
}

.advantage-text-only-3 {
  width: 400px;
  color: #333333;
  background-color: #eeeeee;
  padding-bottom: 45px;
}

.advantages-list .more-advantages {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.advices-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advices-list li {
  width: 400px;
}

.advantages-item h3,
.advices-item h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin: 0;
}

.advantages-item h3 {
  margin-top: 46px;
  margin-bottom: 25px;
  margin-left: 120px;
  margin-right: 120px;
}

.advices-item h4 {
  margin-top: 30px;
  margin-bottom: 12px;
}

.advantage-number-blue,
.advantage-number-grey {
  margin-bottom: 20px;
  position: relative;
}

.advantage-number-blue::before,
.advantage-number-blue::after,
.advantage-number-grey::before,
.advantage-number-grey::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 9px;
  height: 2px;
}

.advantage-number-blue::before,
.advantage-number-blue::after {
  background-color: #bcd6e7;
}

.advantage-number-grey::before,
.advantage-number-grey::after {
  background-color: #979797;
}

.advantage-number-blue::before,
.advantage-number-grey::before {
  left: 175px;
}

.advantage-number-blue::after,
.advantage-number-grey::after {
  right: 175px;
}

.advantage-text {
  margin-left: 48px;
  margin-right: 48px;
}

.advices-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 56px;
}

.advices-list li::before {
  content: "";
  width: 75px;
  height: 77px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.advices-list li:nth-child(1)::before {
  background-image: url("../img/icon-1.svg");
}

.advices-list li:nth-child(2)::before {
  background-image: url("../img/icon-3.svg");
}

.advices-list li:nth-child(3)::before {
  background-image: url("../img/icon-2.svg");
}

.advantages-list li:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.advantages-list li:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.advantages-list li:nth-child(3) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.advantages-list li:nth-child(4) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.advantages-list li:nth-child(5) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.advantages-list li:nth-child(6) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.advice-text {
  color: #333333;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 80px;
}

.book-hotels {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
}

.interest {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 10px;
}

.interest-text {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  padding-left: 390px;
  padding-right: 390px;
  margin-bottom: 48px;
}

.button {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button-search-hotels {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 572px;
  margin: 0;
  outline: none;
}

.button-search-hotels,
.button-book {
  background-color: #766357;
}

.button-search-hotels:hover,
.button-search-hotels:focus,
.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-search-hotels:active,
.button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-search,
.button-more-inform {
  background-color: #81b3d2;
}

.button-search:hover,
.button-search:focus,
.button-more-inform:hover,
.button-more-inform:focus {
  background-color: #669ec0;
}

.button-search:active,
.button-more-inform:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  margin: 0;
  margin-bottom: -125px;
  padding: 0;
  position: relative;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 34px 0;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  background-image: none;
}

.main-footer-index {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(254, 254, 254, 0.9);
}

.main-footer-inner {
  background-color: #fefefe;
}

.footer-column {
  width: 400px;
}

.instagram {
  display: block;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active .social-button-image {
  opacity: 0.3;
}

.footer-column-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  margin-right: 9px;
}

.creator-logo svg {
  width: 115px;
  height: 41px;
  margin-top: 5px;
}


.creator-logo:hover .html-logo,
.creator-logo:focus .html-logo {
  fill: #81b3d2;
}

.creator-logo:active .html-logo {
  fill: #bdbbbc;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
     -webkit-transform: translateY(-120px);
             transform: translateY(-120px);
     z-index: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-hidden {
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 1.0s;
  animation: bounce 1.0s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-search {
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  width: 456px;
  background-color: #ffffff;
  padding: 57px 58px;
  margin: 0 auto;
  top: 2170px;
  left: 50%;
  margin-left: -286px;
}

.appointment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.appointment-item-date {
  width: 100%;
  margin-bottom: 28px;
  position: relative;
}

.item-arrival-date {
  margin-bottom: 28px;
}

.appointment-item-date input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 346px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 38px;
}

.appointment-item input{
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}

.appointment-item input::-webkit-input-placeholder {
  color: #000000;
}

.appointment-item input:-ms-input-placeholder {
  color: #000000;
}

.appointment-item input::-ms-input-placeholder {
  color: #000000;
}

.appointment-item input::placeholder {
  color: #000000;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff;
  border: #e5e5e5 solid 2px;
}

.appointment-item label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  cursor: pointer;
}

.button-calendar {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -11px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.button-calendar-image {
  fill: #a9a9a9;
}

.button-calendar:hover .button-calendar-image,
.button-calendar:focus .button-calendar-image{
  fill: #000000;
}

.button-calendar:active .button-calendar-image {
  fill: #81b3d2;
}

.button-number {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-size: 0;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.appointment-item-adults input,
.appointment-item-children input {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

.appointment-item-adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 225px;
}

.apopointment-item-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 179px;
}

.appointment-item-children label {
  margin-right: 25px;
}

.appointment-items-number {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.appointment-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.button-number-less::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.button-number-more::before,
.button-number-more::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.button-number-more::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.button-number-less:hover::before,
.button-number-less:focus::before,
.button-number-more:hover::before,
.button-number-more:focus::before,
.button-number-more:hover::after,
.button-number-more:focus::after {
  background-color: #000000;
}

.button-number-less:active::before,
.button-number-more:active::before,
.button-number-more:active::after {
  background-color: #81b3d2;
}

.button-search {
  width: 100%;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 55px;
}

.search-results {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fefefe;
  border-bottom: #e5e5e5 solid 1px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
}

.inner-column-1 {
  display: block;
  width: 528px;
  padding-top: 25px;
  padding-left: 165px;
  position: relative;
}

.hotel-image {
  width: 135px;
  height: 90px;
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
}

.hotel-link {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.hotel-type-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 260px;
  margin-top: 5px;
  margin-bottom: 16px;
}

.type,
.price {
  display: inline-block;
  vertical-align: top;
  color: #333333;
}

.type {
  min-width: 110px;
  margin-right: 5px;
}

.price {
  min-width: 143px;
}

.hotel-link:hover,
.hotel-link:focus {
  color: #81b3d2
}

.hotel-link:active {
  color: #000000;
  opacity: 0.3;
}

.button-inform-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 258px;
  margin:0;
  padding: 0;
}

.button-more-inform,
.button-book {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  font-weight: 700;
  padding: 3px 17px;
}

.button-more-inform {
  margin-right: 5px;
}

.inner-column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 241px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 30px;
}

.star {
  margin: 0;
  padding: 0;
  margin-left: 2px;
}

.mark {
  display: inline-block;
  width: 111px;
  vertical-align: middle;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
}

.filter-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
  margin-left: 73px;
  margin-right: 73px;
  color: #ffffff;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-infrastructure {
  width: 255px;
}

.filter-type-home {
  width: 274px;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 23px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  padding-left: 40px;
  position: relative;
}

.filter ul:last-child {
  margin-bottom: 31px;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input + label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-range {
  width: 318px;
  color: #ffffff;
  margin-left: 200px;
  padding-left: 10px;
}

.filter-range-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: 8px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  margin-top: 6px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 83px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus {
  background: #1c4f80;
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin-left: 84px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fefefe;
  padding: 23px 73px;
  border-bottom: #e5e5e5 solid 1px;
}

.results b {
  width: 135px;
  text-align: left;
  margin-right: 30px;
  font-size: 21px;
  line-height: 26px;
}

.sorting-text-title {
  width: 111px;
  text-align: left;
}

.sorting-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 259px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-text {
  font-size: 12px;
  line-height: 18px;
}

.sorting-points li:first-child {
  margin-left: 6px;
}

.sorting-points li {
  margin-right: 32px;
}

.sorting-points li:last-child {
  margin-right: 0;
}

.sorting-text a {
  color: #000000;
  opacity: 0.3;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  -webkit-text-decoration-color: #81b3d2;
          text-decoration-color: #81b3d2;
}

.sorting-text a:hover,
.sortingh-text a:focus {
  color: #81b3d2;
  opacity: 1.0;
}

.sorting-text a:active {
  color: #000000;
  text-decoration: none;
}

.sorting-text-active {
  color: #81b3d2;
  text-decoration: none;
}

.increase-decrease {
  width: 241px;
  text-align: right;
  margin-left: 288px;
}

.button-increase-decrease {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  font-size: 0;
}

.button-up .up-down {
  fill: #cacaca;
}

.button-up:hover .up-down,
.button-up:focus .up-down {
  fill: #231f20;
}

.button-up:active .up-down {
  fill: #81b3d2;
}

.button-down .up-down{
  fill: #81b3d2;
}

.button-down {
  margin-left: 10px;
}

.button-down:hover .up-down,
.button-down:focus .up-down,
.button-down:active .up-down {
  fill: #81b3d2;
}
